@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMjgzODkxMi1hcmdhbm9kZW1vOnM5NG1kUWdJcHV1S1Y3ejdTMWtMWm1RUkVKRFJ5VGp3
always-auth=true


